
services:

  ollama:
    image: ollama/ollama
    restart: always
    volumes:
      - ./services/ollama/data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

  chroma:
    image: ghcr.io/chroma-core/chroma:latest
    restart: always
    volumes:
      - ./services/chroma/data:/chroma
    environment:
      - IS_PERSISTENT=TRUE

  webui:
    image: ghcr.io/open-webui/open-webui:main
    restart: always
    depends_on:
      - ollama
      - chroma
    ports:
      - 8080:8080
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
      - WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY}
      - VECTOR_DB_TYPE=chroma
      - CHROMA_DB_IMPL=chroma
      - CHROMA_SERVER_HOST=http://chroma:8000
    volumes:
      - ./services/webui/data:/app/backend/data

  notebook:
    build: ./services/jupyter/
    restart: always
    volumes:
      - ./services/jupyter/notebook:/project
    depends_on:
      - ollama
      - chroma
    ports:
      - 8888:8888